<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />

  </head>
  <body>
    <header class="header">
      <a href="/" class="logo">WEATHER<sup>®</sup></a>
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/check-weather">Weather</a>
      </nav>
    </header>
  </body>
</html>